<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>



</body>
</html>

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Blog Home - Start Bootstrap Template</title>
  <!-- Core theme CSS (includes Bootstrap)-->
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<!-- Responsive navbar-->
<th:block th:include="/navbar"></th:block>
<div class="container">
  <div class="row">
    <!-- Blog entries-->
    <div id="content">
      <form class="row g-3" th:action="@{/admin/addTag}" th:object="${tag}" method="post"  >
        <input type="hidden" th:field="*{id}"><br>
        <div class="col-md-4">
          <label for="validationDefaultUsername" class="form-label">Title</label>
          <div class="input-group">
            <input type="text" th:field="*{name}" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
          </div>
          <p class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</p>
        </div>

        <div class="col-12">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
    <!-- Side widgets-->

  </div>
</div>
<!-- Footer-->
<th:block th:include="/footer"></th:block>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../static/js/scripts.js"></script>
</body>
</html>
