<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Home</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user}">Profile</a></li>
                <li class="nav-item"><a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/post/add}">Create Post</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="page" sec:authorize="hasAuthority('Admin')" th:href="@{'/admin/users/1' + '?sortField=id'  + '&sortDir=asc'}">Admin page</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="page" sec:authorize="hasAuthority('Admin')" th:href="@{/admin/posts}">All post</a></li>
            </ul>
        </div>
        <th:block sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/user}" th:utext="'hello' +' '+ ${#request.userPrincipal.name}">..</a>
            <a class="navbar-brand" th:href="@{/logout}">Logout</a>
        </th:block>
        <th:block sec:authorize="!isAuthenticated()">
            <a class="navbar-brand" th:href="@{/login}">Login</a>
        </th:block>
    </div>
</nav>